In [25]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import pandas as pd
import time
import itertools
import numpy as np
from datetime import datetime

## Prueba unitaria latam

In [26]:
url="https://www.latamairlines.com/co/es/ofertas-vuelos?origin=MDE&inbound=null&outbound=2023-04-18T17%3A00%3A00.000Z&destination=BOG&adt=1&chd=0&inf=0&trip=OW&cabin=Economy&redemption=false&sort=RECOMMENDED"

In [38]:
option = webdriver.ChromeOptions()
option.add_argument("--incognito")
#option.add_argument("--headless")
#we create the driver specifying the origin of chrome browser
#option.add_experimental_option('excludeSwitches', ['enable-logging'])
driver = webdriver.Chrome("C:/Scraping/chromedriver.exe", chrome_options=option)
driver.get(url)
time.sleep(1)
#Extra lo elementos del HTML todos los que coincidan

C:\Users\DELL\AppData\Local\Temp\ipykernel_19500\4208609945.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:/Scraping/chromedriver.exe", chrome_options=option)
C:\Users\DELL\AppData\Local\Temp\ipykernel_19500\4208609945.py:6: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome("C:/Scraping/chromedriver.exe", chrome_options=option)

In [39]:
Price=driver.find_elements("xpath",'//span[@Class="display-currencystyle__CurrencyAmount-sc__sc-19mlo29-2 fMjBKP"]')
Hora=driver.find_elements("xpath",'//span[@Class="card-flightstyle__TextHourFlight-sc__sc-16r5pdw-18 kKmcWo"]')
Tipo=driver.find_elements("xpath",'//div[@Class="card-flightstyle__ContainerFooterCard-sc__sc-16r5pdw-24 iMBDQD"]//a//span')

In [44]:
fecha="2023-04-18"
Departure="MDE"
Arrive="BOG"
#n=int(len(Tipo)/2)

In [48]:
all_Fechas=list(itertools.repeat(fecha, len(Tipo)))
all_Departure=list(itertools.repeat(Departure, len(Tipo)))
all_Arrive=list(itertools.repeat(Arrive, len(Tipo)))
all_Prices=[price.get_attribute('innerText') for price in Price]
all_Hora=[hora.get_attribute('innerText') for hora in Hora]
all_Tipo=[T.get_attribute('innerText') for T in Tipo]

In [54]:
#Separar las horas de Salida y LLegada
Hora_Salida=[all_Hora[x] for x in range(0,len(all_Hora)) if x % 2 == 0]
Hora_Llegada=[all_Hora[x] for x in range(0,len(all_Hora)) if x % 2 != 0]
#Separar Precios
Prices=[all_Prices[x] for x in range(0,len(all_Prices)) if x % 2 == 0]

In [55]:
len(Prices)

31

In [56]:
Datos = {
    'Fecha':all_Fechas,
    'Departure' : all_Departure,
    'Arrive': all_Arrive,
    'Hora_Salida':Hora_Salida,
    'Hora_LLegada':Hora_Llegada,
    'Price':Prices,
    'Tipo':all_Tipo
}
df = pd.DataFrame(Datos)

In [58]:
df

,Fecha,Departure,Arrive,Hora_Salida,Hora_LLegada,Price,Tipo
0,2023-04-18,MDE,BOG,4:04 a. m.,5:00 a. m.,"170.680,00",Directo
1,2023-04-18,MDE,BOG,5:19 a. m.,6:15 a. m.,"284.440,00",Directo
2,2023-04-18,MDE,BOG,6:19 a. m.,7:15 a. m.,"258.260,00",Directo
3,2023-04-18,MDE,BOG,6:44 a. m.,7:40 a. m.,"258.260,00",Directo
4,2023-04-18,MDE,BOG,7:03 a. m.,7:59 a. m.,"258.260,00",Directo
5,2023-04-18,MDE,BOG,8:01 a. m.,8:57 a. m.,"195.190,00",Directo
6,2023-04-18,MDE,BOG,8:04 a. m.,9:00 a. m.,"195.190,00",Directo
7,2023-04-18,MDE,BOG,9:02 a. m.,9:58 a. m.,"258.260,00",Directo
8,2023-04-18,MDE,BOG,11:18 a. m.,12:14 p. m.,"284.440,00",Directo
9,2023-04-18,MDE,BOG,1:55 p. m.,2:51 p. m.,"170.680,00",Directo
10,2023-04-18,MDE,BOG,3:42 p. m.,4:38 p. m.,"170.680,00",Directo
11,2023-04-18,MDE,BOG,4:04 p. m.,5:00 p. m.,"258.260,00",Directo
12,2023-04-18,MDE,BOG,4:39 p. m.,5:35 p. m.,"258.260,00",Directo
13,2023-04-18,MDE,BOG,4:48 p. m.,5:44 p. m.,"258.260,00",Directo
14,2023-04-18,MDE,BOG,6:33 p. m.,7:29 p. m.,"347.270,00",Directo
15,2023-04-18,MDE,BOG,10:08 p. m.,11:04 p. m.,"170.680,00",Directo
16,2023-04-18,MDE,BOG,11:03 p. m.,11:59 p. m.,"170.680,00",Directo
17,2023-04-18,MDE,BOG,8:16 a. m.,10:52 a. m.,"330.970,00",1 parada
18,2023-04-18,MDE,BOG,8:16 a. m.,12:26 p. m.,"330.970,00",1 parada
19,2023-04-18,MDE,BOG,8:16 a. m.,12:58 p. m.,"419.860,00",1 parada
20,2023-04-18,MDE,BOG,10:03 a. m.,2:06 p. m.,"499.120,00",1 parada
21,2023-04-18,MDE,BOG,2:15 p. m.,5:15 p. m.,"278.020,00",1 parada
22,2023-04-18,MDE,BOG,2:15 p. m.,6:02 p. m.,"278.020,00",1 parada
23,2023-04-18,MDE,BOG,2:15 p. m.,8:02 p. m.,"278.020,00",1 parada
24,2023-04-18,MDE,BOG,4:45 p. m.,8:02 p. m.,"330.970,00",1 parada
25,2023-04-18,MDE,BOG,4:45 p. m.,10:32 p. m.,"330.970,00",1 parada
26,2023-04-18,MDE,BOG,4:45 p. m.,11:29 p. m.,"330.970,00",1 parada
27,2023-04-18,MDE,BOG,5:21 p. m.,9:19 p. m.,"424.620,00",1 parada
28,2023-04-18,MDE,BOG,5:21 p. m.,11:05 p. m.,"424.620,00",1 parada
29,2023-04-18,MDE,BOG,8:17 p. m.,11:00 p. m.,"372.500,00",1 parada
30,2023-04-18,MDE,BOG,10:23 p. m.,5:15 a. m.\n+1,"297.820,00",1 parada

In [35]:

df.to_csv("Informes/Scraping_Latam_{}.csv".format(fecha),index=False)

## Prueba Unitaria wingo

In [ ]:
departure='BOG'
Arrive='MDE'
fechad='18-04-2023'

In [ ]:
website="https://reservas.vivaair.com/co/es/booking/resultados?DepartureCity={}&ArrivalCity={}&DepartureDate={}&Adults=1&Currency=COP".format(departure,Arrive,fechad)

In [ ]:
option = webdriver.ChromeOptions()
option.add_argument("--incognito")
#option.add_argument("--headless")
#we create the driver specifying the origin of chrome browser
option.add_experimental_option('excludeSwitches', ['enable-logging'])
driver = webdriver.Chrome("C:/Scraping/chromedriver.exe", chrome_options=option)
driver.get(website)
time.sleep(5)

In [ ]:
#Extra lo elementos del HTML todos los que coincidan
Vuelo=driver.find_elements("xpath",'//span[@Class="label-info-card font-gray-medium-letter font-weight-bold radio-custom-label"]')
Hora=driver.find_elements("xpath",'//p[@Class="font-gray font-weight-bold"]')
Tipo=driver.find_elements("xpath",'//p[@Class="m-0 type-info-flight"]')
Price=driver.find_elements("xpath",'//p[@Class="font-yellow font-weight-bold mt-2"]')
Tarifa=driver.find_elements("xpath",'//span[@Class="font-weight-bold"]')

In [ ]:
#extraemos los datos de sus tags de html y los convertimos ne un lista
all_Fechas=list(itertools.repeat(fecha, len(Price)))
all_Departure=list(itertools.repeat(Departure, len(Price)))
all_Arrive=list(itertools.repeat(Arrive, len(Price)))
all_Vuelo=[vuelo.get_attribute('innerText') for vuelo in Vuelo]
all_Hora=[hora.get_attribute('innerText') for hora in Hora]
all_Tipo=[T.get_attribute('innerText') for T in Tipo]
all_Prices=[price.get_attribute('innerText') for price in Price]
all_Tarifa=[tarifa.get_attribute('innerText') for tarifa in Tarifa]

Hora_Salida=[all_Hora[x] for x in range(0,len(all_Hora)) if x % 2 == 0]
Hora_Llegada=[all_Hora[x] for x in range(0,len(all_Hora)) if x % 2 != 0]
Tipos=[all_Tipo[x].split()[0] for x in range(0,len(all_Tipo)) if x % 2==0]

In [ ]:
Datos_1 = {
    'Fecha':all_Fechas,
    'Departure' : all_Departure,
    'Arrive': all_Arrive,
    'Hora_Salida':Hora_Salida,
    'Hora_LLegada':Hora_Llegada,
    'Vuelos':all_Vuelo,
    'Tarifa':all_Tarifa,
    'Price':all_Prices,
    'Tipo':Tipos
}
df_1 = pd.DataFrame(Datos_1)
print(df_1)