In [2]:
import pandas as pd

In [3]:
uno=pd.read_csv("Scraping_Latam_2023-04-05_CLO_BOG_1.csv")

In [6]:
dos=pd.read_csv("Scraping_Latam_2023-04-06.csv")

In [11]:
len(uno)+len(dos)

1455

In [8]:
Datos_completos=pd.concat([uno,dos], ignore_index=True)

In [17]:
Datos_completos.head()

        Fecha Departure Arrive  Hora_Salida Hora_LLegada       Price     Tipo
0  2023-04-06       BOG    CLO   5:00 a. m.   6:07 a. m.  253.040,00  Directo
1  2023-04-06       BOG    CLO   6:20 a. m.   7:27 a. m.  253.040,00  Directo
2  2023-04-06       BOG    CLO   8:30 a. m.   9:37 a. m.  253.040,00  Directo
3  2023-04-06       BOG    CLO  10:17 a. m.  11:21 a. m.  253.040,00  Directo
4  2023-04-06       BOG    CLO  11:00 a. m.  12:04 p. m.  253.040,00  Directo

In [19]:
Df=Datos_completos[Datos_completos['Tipo']=='Directo']

In [20]:
Df

,Fecha,Departure,Arrive,Hora_Salida,Hora_LLegada,Price,Tipo
0,2023-04-06,BOG,CLO,5:00 a. m.,6:07 a. m.,"253.040,00",Directo
1,2023-04-06,BOG,CLO,6:20 a. m.,7:27 a. m.,"253.040,00",Directo
2,2023-04-06,BOG,CLO,8:30 a. m.,9:37 a. m.,"253.040,00",Directo
3,2023-04-06,BOG,CLO,10:17 a. m.,11:21 a. m.,"253.040,00",Directo
4,2023-04-06,BOG,CLO,11:00 a. m.,12:04 p. m.,"253.040,00",Directo
...,...,...,...,...,...,...,...
1436,2023-05-01,CLO,BOG,3:49 p. m.,4:49 p. m.,"253.040,00",Directo
1437,2023-05-01,CLO,BOG,4:57 p. m.,5:57 p. m.,"253.040,00",Directo
1438,2023-05-01,CLO,BOG,8:15 p. m.,9:15 p. m.,"253.040,00",Directo
1439,2023-05-01,CLO,BOG,9:02 p. m.,10:02 p. m.,"253.040,00",Directo
1440,2023-05-01,CLO,BOG,9:55 p. m.,10:55 p. m.,"253.040,00",Directo

In [16]:
Datos_completos.to_csv("Scraping_Latam_BOG_CLO_{}.csv".format("2023-04-06"),index=False)